@tailwind base;
@tailwind components;
@tailwind utilities;


.test {
    border:1px solid yellow;
}

.w-md {
    width: 28rem;
}

.rounded-t-none {
    border-top-left-radius: 0px!important;
    border-top-right-radius: 0px!important;
}

