@use '@fontsource/inter/400.css' as inter400;
@use '@fontsource/inter/500.css' as inter500;
@use '@fontsource/inter/600.css' as inter600;
@use '@fontsource/inter/700.css' as inter700;
@use '@fontsource/inter/800.css' as inter800;
@use '@fontsource/inter/900.css' as inter900;

@use '@fontsource/roboto';
@use '@fontsource/open-sans';
@use '@fontsource/inter-tight';

// Oswald (eyebrow font)
// @use '@fontsource/oswald/500.css' as oswald500;
// @use '@fontsource/oswald/600.css' as oswald600;
// @use '@fontsource/oswald/700.css' as oswald700;

// PT Sans (display font)
// @use '@fontsource/pt-sans/400.css' as ptsans400;
// @use '@fontsource/pt-sans/500.css' as ptsans500;
@use '@fontsource/pt-sans/700.css' as ptsans700;

// Montserrat (display fallback)
// @use '@fontsource/montserrat/400.css' as montserrat400;
// @use '@fontsource/montserrat/500.css' as montserrat500;
// @use '@fontsource/montserrat/700.css' as montserrat700;
// @use '@fontsource/montserrat/900.css' as montserrat900;

:root {
    --font-base: "Inter", "Roboto", "Segoe UI", "Open sans", "Inter Tight", sans-serif;
    --header-font: "pt sans", "Oswald1", "Inter", "Roboto1", "Segoe UI", "Open sans", "Inter Tight", sans-serif;

	--text-xs: 	 calc( 9px  + 1 * (100vw - 320px) / 1600 );
	--text-sm: 	 calc( 11px + 1 * (100vw - 320px) / 1600 );
	--text-md:   calc( 12px + 1 * (100vw - 320px) / 1600 );
    --text-base: calc( 13px + 1 * (100vw - 320px) / 1600 );
	--text-lg: 	 calc( 14px + 2 * (100vw - 320px) / 1600 ); //14
	--text-xl: 	 calc( 15px + 2 * (100vw - 320px) / 1600 ); //15
    --text-2xl:  calc( 19px + 2 * (100vw - 320px) / 1600 ); //17
}

body {
}

.font-header {
	font-family: var(--header-font);
	font-weight: 700;
}
