:root {
    --font-base: "Inter", "Roboto", "Segoe UI", "Open sans", "Inter Tight", sans-serif;
    --header-font: "pt sans", "Oswald1", "Inter", "Roboto1", "Segoe UI", "Open sans", "Inter Tight", sans-serif;

	--text-xs: 	 calc( 9px  + 1 * (100vw - 320px) / 1600 );
	--text-sm: 	 calc( 11px + 1 * (100vw - 320px) / 1600 );
	--text-md:   calc( 12px + 1 * (100vw - 320px) / 1600 );
    --text-base: calc( 13px + 1 * (100vw - 320px) / 1600 );
	--text-lg: 	 calc( 14px + 2 * (100vw - 320px) / 1600 ); //14
	--text-xl: 	 calc( 15px + 2 * (100vw - 320px) / 1600 ); //15
    --text-2xl:  calc( 19px + 2 * (100vw - 320px) / 1600 ); //17
}

body {
}

.font-header {
	font-family: var(--header-font);
	font-weight: 700;
}
